<div class="col-xs-12">
  <% data.forEach( (item) => { %>
  <div class="item">
    <h2><%= item.title %></h2>
    <div><strong>Agency</strong>: <%= item.agency ? item.agency : 'N/A' %></div>
    <div>
      <strong>Localization</strong>: <%= item.localization ?
      item.localization.trim() : "N/A" %>
    </div>
    <div>
      <strong>Characteristics</strong>: <%= item.characteristics ?
      item.characteristics.trim() : "N/A" %>
    </div>
    <div><strong>Price</strong>: <%= item.price %></div>
    <% if (item.description && item.description.length) { %>
    <div>
      <% item.description.forEach( desc => { %>

      <p class="description"><%= desc %></p>

      <% }) %>
    </div>
    <% } %> For more details press
    <a target="_blank" href="<%= item.link %>">here</a>
  </div>
  <% }) %>
</div>
